<%- include('./layouts/header.ejs') %>



<section id="blog">
    <div class="container">
        <div class="blog-container">

            <!-- Box 1-->
            <div class="article-box">
                <!-- img -->
                <div class="article-img">
                    <img src="<%= country.image %>" alt="blog">
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span><%= country.createdAt.toLocaleDateString(); %></span>
                    <a href="#" class="blog-title"><%= country.name %></a>
                    <p><%= country.description %></p>
                </div>
            </div>
        </div>
    </div>
</section>
 
    <%- include('./layouts/footer.ejs') %>
