<%- include('./layouts/header.ejs') %>

<body>
<section >
     
  <div class="card-container">
    <h1 class="my-4">Liste des pays</h1>
    
    <div class="row">
        <% countries.forEach(function(country) { %>
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="<%= country.image %>" class="card-img-top" alt="<%= country.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= country.name %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Capitale : <%= country.capital %></h6>
                        <p class="card-text"><%= country.description %></p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-primary">En savoir plus</a>
                            <a href="/edit/<%= country.id %>" class="btn btn-secondary">Edit</a> <!-- Bouton Edit ajouté ici -->
                        </div>
                    </div>
                </div> 
            </div>
        <% }); %>
    </div>
</div>

    
</section> 

<script src="/script/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
 
</html>

 